.main {
  display: flex;
  justify-content: space-between;
  padding: 6rem 2rem;
  min-height: 100vh;
}

.nav{
  width: 25%;
  min-width: 15em;
  background: white;
}

.main > *:nth-child(3){
  width: 25%;
  min-width: 15em;
  background: lightgray;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2em;
}
.productList li{
  min-width: 10em;
  padding: 1em;
  border: 1px solid lightgray;
  text-align: center;
}

.productList button{
  margin: 0 .5em;
}