.main {
  display: flex;
  justify-content: space-between;
  padding: 6rem 2rem;
  min-height: 100vh;
}

.nav{
  width: 15em;
  min-width: 15em;
}
.main > *:nth-child(2){
  margin: 0 2em;
}
.main > *:nth-child(3){
  min-width: 20em;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0;
  text-align: left;
}
.productList li{
  min-width: 10em;
  padding: 1em;
  border: 1px solid lightgray;
  text-align: center;
}

.productList button{
  margin: 0 .5em;
}